<html>
<head></head>
<body>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
        <label for="username">Email:</label>
        <input id="email" name="email" type="text">
        <label for="username">Firstname:</label>
        <input id="firstname" name="firstname" type="text">
        <label for="username">Lastname:</label>
        <input id="lastname" name="lastname" type="text">
        <input type="submit" value="Reg">
    </form>
</body>
</html>
